@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.music-bar {
  position: relative;
  min-height: 50px;
  padding-top: 6px;
  background-image: linear-gradient(to bottom, #e2e2e2, #ccc);
  text-align: center;
  color: #333;
}

.song {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.band {
  font-size: .8rem;
  margin: 0;
  color: #666;
}

.album {
  position: absolute;
  top:0;
  left:0;
  width:50px;
}

.time {
  width: 100%;
  bottom:0;
}

.time-bar {
  position: absolute;
  width: 100%;
  left: 50px;
  bottom:0;
  height: 8px;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background-color: #aaa;
}

/*
  DON’T TOUCH
  They’re just there to colour the progress bar
*/

.time-bar::-moz-progress-bar {
  background-color: #666;
}

.time-bar::-webkit-progress-value {
  background-color: #666;
}

/* END DON’T TOUCH ZONE */

.time-lapsed {
  font-size: .7rem;
  position:absolute;
  left:55px;
  bottom: 10px;
}

.time-total {
  font-size: .7rem;
  position:absolute;
  right:5px;
  bottom: 10px;
}

.controls {
  position: absolute;
  top:5px;
  width:100%;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 1.8rem;
  line-height: 16px;
  list-style-type: none;
}

.control-shuffle {
  position: absolute;
  top:0;
  left:55px;
}

.control-list {
  position:absolute;
  top:0;
  right:0;
}

.control-heart {
  position:absolute;
  top:0;
  right:20px;
}
